
@{
    ViewBag.Title = "Change Password";
}

<div class="container">

    <div class="panel panel-default" style="margin-top:10px;">
        <div class="panel-heading">Change Password</div>
        <div class="panel-body">
            <form role="form">
                <div class="form-group">
                    <label for="oldPass">Old Password</label>
                    <input type="password" class="form-control" id="oldPass" placeholder="Old Password">
                </div>
                <div class="form-group">
                    <label for="NewPass">New Password</label>
                    <input type="password" class="form-control" id="newPass" placeholder="New Password">
                </div>
                <div class="form-group">
                    <label for="confirmNewPass">Confim New Password</label>
                    <input type="password" class="form-control" id="confirmNewPass" placeholder="New Password">
                </div>

                <button type="submit" class="btn btn-default" id="changePass">Change Password</button>

                <div class="form-group">
                    <p class="text-danger" id="feedback" style="margin-top:10px;"></p>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/changePassword.js"></script>


